html
	meta(name="viewport" content="width=100, initial-scale=1.0")
	head
		title Parking
		link(rel='stylesheet' href='style/main.css')
		script(type='text/javascript' src='https://code.jquery.com/jquery-3.3.1.min.js')
		script(type='text/javascript' src='js/cookies.js')
		script(type='text/javascript' src='js/main.js')
	body
		input(type='text' placeholder='Name')
		div.spots.noselect
